* {
  padding: 2px;
  margin: 0;
}
body {
  background-color: rgb(63, 61, 58);
}
.h1 {
  font-size: 18px;
  color: black;
  font-weight: 200;
  background-color: white;
  width: 100px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px;
  font-family: "Staatliches", cursive;
  font-family: "Unna", serif;
}
.box1,
.box2,
.box3 {
  position: relative;
  padding: 5px;
  font-weight: 700px;
  font-size: 12px;
  text-align: center;
  box-shadow: 1px 1px 1px;
  left: 5%;
  margin: 5px;
  font-family: "Staatliches", cursive;
  font-family: "Unna", serif;
  background-color: rgb(255, 255, 255);
  width: 350px;
  height: 20px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px;
  padding: 5px;
}
.nav {
  position: relative;
  color: rgb(0, 0, 0);
  display: flex;
  font-size: 10px;
  text-align: right 5px;
  font-family: "Staatliches", cursive;
  font-family: "Unna", serif;
  left: 250px;
  list-style: none;
  width: 160px;
  border-radius: 2px;
  font-weight: 500;
  justify-content: space-between;
}
.infobox1 {
  background-color: #ffffff10;
  width: 300px;
  height: 300px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 4px;
  align-items: center;
}
